{% extends 'layout.html' %}
{% load static %}
{% load cart %}

{% block content %}
    <div class="breadcrumb-area pt-255 pb-170" style="background-image: url({% static 'img/banner/bg5.jpg' %})">
                <div class="container-fluid">
                    <div class="breadcrumb-content text-center">
                        <h2>product details </h2>
                        <ul>
                            <li>
                                <a href="#">home</a>
                            </li>
                            <li>product details </li>
                        </ul>
                    </div>
                </div>
            </div>
    <div class="product-cart-area pt-120 pb-130">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name">products</th>
                                            <th class="product-price">products name</th>
                                            <th class="product-name">price</th>
                                            <th class="product-price">quantity</th>
                                            <th class="product-quantity">total</th>
                                            <th class="product-subtotal">delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in cart_products %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img style="height: 80px;" class = "rounded-circle" src="{{product.image.url}}" alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <a href="/bike/{{ product.name }}">{{product.name}}</a>
                                            </td>
                                            <td class="product-price"><span class="amount">{{product.price|convert}}</span></td>
                                            <td><div class="row no-gutters ">
                                                <form action="" method="POST" class="col-2">
                                                  {% csrf_token %}
                                                  <input hidden name = "product" type="text" value="{{product.id}}">
                                                  <input hidden name = "remove" type="text" value="True">
                                                  <input style="width:33px;" type="submit" value="-" class="btn btn-outline-warning rounded-circle border-warning mr-1">
                                                </form>
                                                <div style="width: 2px; height: 33px; border-radius: 2px; border: 1px solid #17a2b8!important; margin: 0 5px;" class="ml-2 text-center text-align item-center col border-secondary rounded bg-light my-auto py-auto"><div class="my-aut0">{{product|cart_quantity:request.session.cart}}</div></div>
                                                <form action="" method="POST" class="col-2">
                                                  {% csrf_token %}
                                                  <input hidden name = "product" type="text" value="{{product.id}}">
                                                  <input style="width:33px;" type="submit" value="+" class="btn btn-outline-warning rounded-circle border-warning">
                                                </form>
                                              </div>
                                            </td>

                                            <td class="product-subtotal">{{product|price_total:request.session.cart|convert}}</td>
                                            <td>
                                                <form action="" method="POST" class="col-2">
                                                    {% csrf_token %}
                                                  <input hidden name = "product" type="text" value="{{product.id}}">
                                                  <input hidden name = "remove_from_cart" type="text" value="True">
                                                    <button type="submit" class="btn btn-outline-danger rounded"><i class="ti-trash"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-shiping-update">
                                <div class="cart-shipping">
                                    <a class="btn-style cr-btn" href="{% url 'home'%}">
                                        <span>continue shopping</span>
                                    </a>
                                </div>
                                <div class="update-checkout-cart">
                                    <div class="update-cart">
                                        <a class="btn-style cr-btn" href="{% url 'checkout'%}">
                                            <span>checkout</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-6">
                            <div class="discount-code">
                                <h4>enter your discount code</h4>
                                <div class="coupon">
                                    <input type="text">
                                    <input class="cart-submit" type="submit" value="enter">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <div class="shop-total">
                                <h3>cart total</h3>
                                <ul>
                                    <li>
                                        sub total
                                        <span>{{products|cart_total_price:request.session.cart|convert}}</span>
                                    </li>
                                    <li>
                                        tax
                                        <span>$9.00</span>
                                    </li>
                                    <li class="order-total">
                                        shipping
                                        <span>0</span>
                                    </li>
                                    <li>
                                        order total
                                        <span>$918.00</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart-btn text-center mb-15">
                                <a href="{% url 'checkout'%}">payment</a>
                            </div>
                            <div class="continue-shopping-btn text-center">
                                <a href="{% url 'home'%}">continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
