<footer class="site-footer mt-5 text-white">
      <div class="container">
        <div class="row mt-5">
          <div class="footer_text col-md-6 col-lg-3">
            <h4>About</h4>
              <p class="text-left" id="about"><a href="{% url 'home' %}"><b>BIKES WORLD</b></a> the largest bike store in the wold can serve you latest quality of motorcycle. You get different types of bikes here such as Sports, Street, Racing bikes etc. It is mainly built for b2b purpose. </p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3 pl-2">
            <h4>Categories</h4>
            <ul class="footer-links">
                {% for category in categorys %}
                    <li><a href="{% url 'shop' %}?category={{ category.id }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <h4>Quick Links</h4>
            <ul class="footer-links">
                <li><a href="{% url 'home'%}">home</a></li>
                <li class="active"><a href="about-us.html">about us </a></li>
                <li><a href="{% url 'shop'%}">shop</a></li>
                <li><a href="/cart">Cart<span class="sr-only">(current)</span></a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 col-12">
              <div class="footer-widget mb-30">
                  <div class="footer-widget-title">
                      <h4>CONTACT INFO</h4>
                  </div>
                  <div class="food-info-wrapper">
                      <div class="food-address">
                          <div class="food-info-title">
                              <span>Address</span>
                          </div>
                          <div class="food-info-content">
                              <p>Jaya Shayam sadan, Jhanhjarpur, Madhubani, Bihar - 847404</p>
                          </div>
                      </div>
                      <div class="food-address">
                          <div class="food-info-title">
                              <span>Phone</span>
                          </div>
                          <div class="food-info-content">
                              <p>+91 6203035528</p>
                          </div>
                      </div>
                      <div class="food-address">
                          <div class="food-info-title">
                              <span>Web</span>
                          </div>
                          <div class="food-info-content">
                              <a href="https://raushanrk5.github.io/">raushanrk5.github.io</a>
                              <a href="https://raushanrk.pythonanywhere.com">raushanrk.pythonanywhere.com</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-sm-6 col-md-12">
            <p class="copyright-text">Copyright © 2021 All Rights Reserved by
             <a href="{% url 'home'%}"><b>Bikes_World</b></a>.
            </p>
          </div>

          <div class="col-lg-4 col-sm-6 col-md-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100015237614107"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="https://github.com/raushanrk5"><i class="fa fa-github"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/in/raushan-kumar-116b48195/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
  </footer>